@import url(bootstrap.css);
@import url(b.utils.css);
@import url(font-awesome.css);
@font-face {
  font-family: "OSI";
  src: url("../fonts/opensans-italic-webfont.eot");
  src: url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic-webfont.woff") format("woff"), url("../fonts/opensans-italic-webfont.ttf") format("truetype"), url("../fonts/opensans-italic-webfont.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OSR";
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OSB";
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AMR";
  src: url("../fonts/asap-regular-webfont.eot");
  src: url("../fonts/asap-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/asap-regular-webfont.woff") format("woff"), url("../fonts/asap-regular-webfont.ttf") format("truetype"), url("../fonts/asap-regular-webfont.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AMB";
  src: url("../fonts/asap-bold-webfont.eot");
  src: url("../fonts/asap-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/asap-bold-webfont.woff") format("woff"), url("../fonts/asap-bold-webfont.ttf") format("truetype"), url("../fonts/asap-bold-webfont.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon, .icon-illustr-1, .icon-illustr-10, .icon-illustr-11, .icon-illustr-12, .icon-illustr-13, .icon-illustr-14, .icon-illustr-15, .icon-illustr-16, .icon-illustr-2, .icon-illustr-3, .icon-illustr-4, .icon-illustr-5, .icon-illustr-6, .icon-illustr-7, .icon-illustr-8, .icon-illustr-9, .icon-info {
  background: url('../img/icon-sabf191661c.png') no-repeat; }

.icon-illustr-1 {
  background-position: 0 0;
  height: 189px;
  width: 361px; }

.icon-illustr-10 {
  background-position: -461px 0;
  height: 138px;
  width: 240px; }

.icon-illustr-11 {
  background-position: -801px 0;
  height: 264px;
  width: 228px; }

.icon-illustr-12 {
  background-position: -1129px 0;
  height: 177px;
  width: 319px; }

.icon-illustr-13 {
  background-position: -1548px 0;
  height: 154px;
  width: 137px; }

.icon-illustr-14 {
  background-position: -1785px 0;
  height: 148px;
  width: 128px; }

.icon-illustr-15 {
  background-position: -2013px 0;
  height: 138px;
  width: 128px; }

.icon-illustr-16 {
  background-position: -2241px 0;
  height: 283px;
  width: 295px; }

.icon-illustr-2 {
  background-position: -2636px 0;
  height: 138px;
  width: 240px; }

.icon-illustr-3 {
  background-position: -2976px 0;
  height: 212px;
  width: 300px; }

.icon-illustr-4 {
  background-position: -3376px 0;
  height: 229px;
  width: 300px; }

.icon-illustr-5 {
  background-position: -3776px 0;
  height: 139px;
  width: 120px; }

.icon-illustr-6 {
  background-position: -3996px 0;
  height: 242px;
  width: 284px; }

.icon-illustr-7 {
  background-position: -4380px 0;
  height: 138px;
  width: 240px; }

.icon-illustr-8 {
  background-position: -4720px 0;
  height: 189px;
  width: 212px; }

.icon-illustr-9 {
  background-position: -5032px 0;
  height: 177px;
  width: 240px; }

.icon-info {
  background-position: -5372px 0;
  height: 18px;
  width: 18px; }

.icon, .icon-illustr-1, .icon-illustr-10, .icon-illustr-11, .icon-illustr-12, .icon-illustr-13, .icon-illustr-14, .icon-illustr-15, .icon-illustr-16, .icon-illustr-2, .icon-illustr-3, .icon-illustr-4, .icon-illustr-5, .icon-illustr-6, .icon-illustr-7, .icon-illustr-8, .icon-illustr-9, .icon-info {
  display: inline-block; }

.mb36 {
  margin-bottom: 36px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb43 {
  margin-bottom: 43px !important; }

.mb7 {
  margin-bottom: 7px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb12 {
  margin-bottom: 12px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb26 {
  margin-bottom: 26px !important; }

a img {
  border: 0; }

body {
  width: 100%;
  max-width: 100%;
  font-family: "OSR", Arial, Arial; }
  html.ie8 body {
    min-width: 991px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  color: inherit;
  max-width: 100%;
  font-weight: normal; }

strong {
  font-family: "OSB", Arial; }

li, p, dd, dt, cite, address {
  line-height: 167%;
  margin-bottom: 20px;
  padding: 0;
  font-size: 1.14em;
  color: inherit;
  max-width: 100%; }

.outlined, .outlined div {
  outline: 1px solid red; }

.container {
  margin: auto;
  max-width: 960px; }

.btn {
  white-space: normal; }
  .btn.btn-warning {
    background: #f2ac0a;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border-bottom: 5px solid #cf9008;
    padding: 9px 15px;
    font-family: "AMR";
    font-size: 1.16em;
    text-transform: uppercase;
    line-height: 120%; }
    .btn.btn-warning strong {
      font-family: "AMB";
      display: block;
      margin-bottom: 3px;
      text-shadow: 1px 1px 1px #e4b96e; }

.navbar {
  background: #699636;
  padding: 17px 0;
  text-align: left;
  margin: 0;
  border-radius: 0px !important;
  box-shadow: none !important; }
  .navbar .container {
    padding-left: 9px; }
  .navbar .logo {
    display: block;
    text-align: left; }

article p {
  color: #747474; }

h3.title {
  font-family: AMB;
  font-size: 2.88em;
  margin: 41px 0px 33px 0px; }

article.page-header {
  margin: 0;
  border: 0;
  background: #84bc46;
  padding: 53px 0 0px 0; }
  @media (max-width: 768px) {
    article.page-header {
      padding-top: 30px; } }
  article.page-header .white-part {
    padding-bottom: 112px;
    padding-top: 36px;
    background: #84bc46; }
    body.v2 article.page-header .white-part {
      padding-top: 0px; }
    body.dept_management article.page-header .white-part {
      padding-top: 57px; }
    body.dept_management.v2 article.page-header .white-part {
      padding-top: 0; }
    body.private_insurance article.page-header .white-part {
      padding-top: 18px; }
    body.private_insurance.v2 article.page-header .white-part {
      padding-top: 0px; }
    body.remortage article.page-header .white-part {
      padding-top: 87px; }
    body.remortage.v2 article.page-header .white-part {
      padding-top: 60px; }
    article.page-header .white-part.pt0 {
      padding-top: 0 !important; }
      article.page-header .white-part.pt0 h1 {
        margin-top: -15px !important; }
    article.page-header .white-part p, article.page-header .white-part ul, article.page-header .white-part li, article.page-header .white-part h1, article.page-header .white-part h2 {
      color: white; }
    @media (max-width: 768px) {
      article.page-header .white-part {
        padding-top: 0; } }
    article.page-header .white-part h1 {
      font-family: "AMB";
      font-size: 3.85em;
      line-height: 121%;
      margin-bottom: 21px; }
      body.v2 article.page-header .white-part h1 {
        margin-top: -15px; }
      @media (max-width: 768px) {
        article.page-header .white-part h1 {
          font-size: 2.1em; } }
    article.page-header .white-part h2 {
      font-family: "AMR";
      font-size: 2.57em;
      line-height: 123%;
      margin-bottom: 40px; }
      article.page-header .white-part h2.m0 {
        margin-bottom: 15px; }
      @media (max-width: 768px) {
        article.page-header .white-part h2 {
          font-size: 1.8em; } }
    article.page-header .white-part hr {
      margin-bottom: 42px;
      margin-top: 0;
      border-top: 2px solid white; }
    article.page-header .white-part .fa-ul {
      font-family: "OSB";
      margin-top: 17px; }
      article.page-header .white-part .fa-ul .fa-li {
        font-size: 1.7em;
        top: -2px;
        left: -49px; }
    article.page-header .white-part p {
      margin-bottom: 20px; }
  article.page-header .white-bg-area {
    background: white;
    padding-top: 42px;
    padding-bottom: 20px;
    position: relative;
    /* start of the private definitions */ }
    body.private_insurance article.page-header .white-bg-area {
      margin-top: -353px; }
      @media (max-width: 979px) {
        body.private_insurance article.page-header .white-bg-area {
          margin-top: -233px; } }
    body.private_insurance.v2 article.page-header .white-bg-area {
      margin-top: -233px; }
      @media (max-width: 979px) {
        body.private_insurance.v2 article.page-header .white-bg-area {
          margin-top: -123px; } }
    body.life_insurance article.page-header .white-bg-area {
      margin-top: -470px; }
      @media (max-width: 979px) {
        body.life_insurance article.page-header .white-bg-area {
          margin-top: -330px; } }
    body.life_insurance.v2 article.page-header .white-bg-area {
      margin-top: -310px; }
      @media (max-width: 979px) {
        body.life_insurance.v2 article.page-header .white-bg-area {
          margin-top: -150px; } }
    body.dept_management article.page-header .white-bg-area {
      margin-top: -500px;
      padding-bottom: 134px; }
      @media (max-width: 979px) {
        body.dept_management article.page-header .white-bg-area {
          margin-top: -580px; } }
    body.dept_management.v2 article.page-header .white-bg-area {
      margin-top: -500px; }
      @media (max-width: 979px) {
        body.dept_management.v2 article.page-header .white-bg-area {
          margin-top: -510px; } }
    body.remortage article.page-header .white-bg-area {
      margin-top: -680px;
      padding-bottom: 60px; }
      @media (max-width: 979px) {
        body.remortage article.page-header .white-bg-area {
          margin-top: -710px; } }
    body.remortage.v2 article.page-header .white-bg-area {
      margin-top: -680px; }
      @media (max-width: 979px) {
        body.remortage.v2 article.page-header .white-bg-area {
          margin-top: -710px; } }
    @media (max-width: 768px) {
      article.page-header .white-bg-area {
        margin-top: 0 !important; } }
  @media (max-width: 768px) {
    article.page-header .row {
      margin: 0; } }
  article.page-header .col-xs-7 {
    padding-left: 10px;
    padding-right: 42px; }
    @media (max-width: 768px) {
      article.page-header .col-xs-7 {
        padding: 0; } }
  article.page-header .col-xs-5 {
    padding-left: 8px;
    padding-right: 5px;
    position: relative; }
    @media (max-width: 768px) {
      article.page-header .col-xs-5 {
        padding: 0; } }
  article.page-header .panel {
    border: 3px solid rgba(112, 160, 60, 0.2);
    background-clip: padding-box;
    border-radius: 6px;
    margin-bottom: 40px;
    position: relative;
    z-index: 100; }
    article.page-header .panel .panel-heading {
      background: #e3d600;
      font-family: "AMR";
      padding: 22px 5px 20px 5px;
      line-height: 100%;
      border-radius: 0; }
      article.page-header .panel .panel-heading .panel-title {
        text-align: left;
        font-family: OSB;
        text-transform: uppercase;
        padding-left: 16px;
        color: #333333;
        font-size: 1.29em; }
        article.page-header .panel .panel-heading .panel-title.smaller {
          font-size: 1.04em;
          margin-bottom: 5px; }
    article.page-header .panel .panel-body {
      padding: 18px 18px 29px 18px; }
      article.page-header .panel .panel-body p {
        font-size: 1em;
        color: #333333;
        line-height: 121%;
        margin-bottom: 13px; }
      article.page-header .panel .panel-body .checkbox p {
        font-family: OSR;
        font-size: 0.9em;
        margin-bottom: 14px;
        line-height: 127%;
        color: #666666; }
      article.page-header .panel .panel-body .icon-info {
        color: #00abe3;
        font-size: 1.3em;
        cursor: pointer; }
      article.page-header .panel .panel-body h4.page-header {
        color: #26b1e5;
        font-family: "OSB";
        margin: 0px 0px 17px 0px;
        padding: 0px 0px 7px 0px;
        font-size: 1.29em;
        border-bottom: 1px solid #e3e3e3; }
        article.page-header .panel .panel-body h4.page-header small {
          font-family: "OSR";
          color: #999999;
          font-size: 0.65em; }
        article.page-header .panel .panel-body h4.page-header.middle {
          margin-top: 4px;
          padding-bottom: 5px;
          margin-bottom: 19px; }
      article.page-header .panel .panel-body .form-control {
        background: #fafafa;
        border-color: #d4d4d4;
        height: 42px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
        article.page-header .panel .panel-body .form-control[readonly] {
          background: #fafafa;
          cursor: pointer; }
        article.page-header .panel .panel-body .form-control.mb0 {
          margin-bottom: 0; }
      article.page-header .panel .panel-body select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        min-width: 100%;
        max-width: 100%;
        display: block; }
      article.page-header .panel .panel-body .form-group {
        margin-bottom: 0px;
        padding-bottom: 19px; }
        article.page-header .panel .panel-body .form-group.pb0 {
          padding-bottom: 0; }
        article.page-header .panel .panel-body .form-group.pb8 {
          padding-bottom: 8px; }
        article.page-header .panel .panel-body .form-group.has-error .form-control {
          border-color: #b94a48 !important; }
        article.page-header .panel .panel-body .form-group.has-success .form-control {
          border-color: #468847 !important; }
      article.page-header .panel .panel-body .input-group.control-group {
        display: block;
        margin-bottom: 0px; }
      article.page-header .panel .panel-body .form-group > label, article.page-header .panel .panel-body label.sep {
        font-family: "OSB";
        display: block;
        line-height: 100%;
        padding: 0;
        font-size: 1em;
        font-weight: normal;
        width: 100%;
        margin: 0px 0px 4px 0px; }
        article.page-header .panel .panel-body .form-group > label.mb7, article.page-header .panel .panel-body label.sep.mb7 {
          margin-bottom: 7px; }
        article.page-header .panel .panel-body .form-group > label small, article.page-header .panel .panel-body label.sep small {
          font-family: OSR; }
        article.page-header .panel .panel-body .form-group > label span.light, article.page-header .panel .panel-body label.sep span.light {
          font-family: "OSR";
          font-size: 0.96em; }
        article.page-header .panel .panel-body .form-group > label.error, article.page-header .panel .panel-body label.sep.error {
          font-family: "OSR";
          color: #b94a48;
          background-color: #f2dede;
          border: 1px solid #eed3d7;
          padding: 5px;
          border-radius: 0 0 5px 5px; }
          article.page-header .panel .panel-body .form-group > label.error.valid, article.page-header .panel .panel-body label.sep.error.valid {
            color: #468847;
            background-color: #dff0d8;
            border-color: #d6e9c6; }
      article.page-header .panel .panel-body label.sep {
        margin: 14px 0px 6px 0px; }
      @media (max-width: 768px) {
        article.page-header .panel .panel-body .row {
          margin: 0; } }
      article.page-header .panel .panel-body .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px; }
        article.page-header .panel .panel-body .col-xs-4:first-child {
          padding-left: 15px; }
        article.page-header .panel .panel-body .col-xs-4:last-child {
          padding-right: 15px; }
        @media (max-width: 768px) {
          article.page-header .panel .panel-body .col-xs-4 {
            padding: 0 !important; } }
      article.page-header .panel .panel-body .radio-inline {
        margin-right: 14px; }

article.gray {
  background: #e7ebe4;
  padding: 62px 0 43px 0; }
  article.gray h3 {
    color: #333333; }
  article.gray .container {
    max-width: 809px; }
  body.v2 article.gray {
    padding-top: 26px;
    padding-top: 67px; }
  body.dept_management article.gray {
    padding-top: 18px; }
  body.remortage article.gray {
    padding-top: 19px; }

article.summary {
  background: white;
  padding: 63px 0 43px 0;
  color: #666666; }
  body.v2 article.summary {
    padding-bottom: 43px; }
  body.dept_management article.summary {
    padding-top: 18px; }
  body.private_insurance.v2 article.summary {
    padding-top: 25px; }
  article.summary h3 {
    color: #333333; }
  article.summary .container {
    max-width: 809px; }
  article.summary .btn-warning {
    margin: 24px auto 5px auto;
    text-shadow: 1px 1px 1px #a87507;
    padding: 13px 36px; }
    article.summary .btn-warning strong {
      font-size: 1.16em;
      display: block;
      line-height: 100%; }
  article.summary p.bolder {
    font-family: OSB;
    margin-bottom: 26px;
    font-size: 1.14em;
    color: #333333; }
  article.summary .with-m p {
    margin-bottom: 17px !important; }
  article.summary blockquote {
    margin: 0 auto;
    padding: 0px 0;
    max-width: 618px;
    border: 0; }
    article.summary blockquote cite {
      display: block;
      font-family: "OSI";
      color: #333333;
      display: block;
      margin: 0;
      padding: 0;
      line-height: 158%;
      font-size: 0.92em; }
    article.summary blockquote p.name {
      color: #666666;
      margin: 24px 0px 23px 0px;
      font-size: 0.92em; }
      article.summary blockquote p.name strong {
        font-family: "OSB"; }

footer {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background: white; }
  @media (max-width: 768px) {
    footer {
      margin: 0; } }
  footer .container {
    max-width: 970px; }
  footer p.copy {
    margin: 5px 0;
    font-size: 0.92em; }
    footer p.copy a {
      color: inherit; }
  @media (max-width: 768px) {
    footer .col-xs-6 {
      text-align: center !important;
      padding: 5px 15px; } }

article.disclaimer {
  padding: 11px 0 9px 0;
  background: white; }
  article.disclaimer .container {
    max-width: 970px; }
  article.disclaimer p {
    font-size: 0.93em;
    color: #a1a1a1;
    margin-bottom: 8px; }
    article.disclaimer p a {
      color: #333333;
      text-decoration: none; }

@media (max-width: 979px) {
  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br, p br {
    display: none; } }
@media (max-width: 768px) {
  .row {
    margin: 0; }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: none;
    width: 100%; } }
a:hover,
a:focus,
a,
i,
.btn,
.btn:hover,
.btn:focus {
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease; }
